* {
    box-sizing: border-box;
  }
  html{
    width: 100%;
    height: 100%;
  }
  body {
    margin: 0;
    background-color: #c5dedd;
    width: 100%;
    height: 100%;
  }
  /* Dashed border */
  hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
  /* Dotted border */
  hr.dotted {
    border-top: 3px dotted #bbb;
  }
  
  /* Solid border */
  hr.solid {
    border-top: 3px solid #bbb;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    right: 0px;
  }
  
  /* Rounded border */
  hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #001d3d;
  }
  
  .navbarlist {
    float: left;
  }
  
  .navbarlist a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbarlist a:hover {
    background-color: #111;
  }

  .midcontent{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      height: 80%;
      margin: auto;
      padding: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color:#ffffff;
  }

  .pageheader{
      width: 100%;
      background-color:#FFF1E6;
      padding: 5px;
      margin: 0;
      text-align: center;
  }
  .sectionheaderrow{
      /* display: flex; */
      /* flex-direction: row; */
      justify-content: space-between;
  }